html{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1E7DD;
    text-align: justify;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.wapper{
    min-height: 100%;
    margin-bottom: -50px;
}

/*主體設定*/
.mainBody{
    background-color: rgb(0,0,0,20%);
    height: 500px;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
}
.mainDiv{
    text-align: center;
    float:left;
    width:60%;
    min-height: calc(100% - 50px);
    flex-grow: 1;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.divBox{
    margin: 10px;
    font-size: 30px;
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.07);
    color: #fffffe;
    padding: 30px;
    background-color: rgb(0,0,0,20%);
    line-height: 40px;
    align-items: center;
    justify-content: center;
}
.boxTwo{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}


/*footer設定*/
.footerStyle{
    color: #495057;
    text-align: center;
    position: relative;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(255,255,255,40%);
}
.footerDiv{
    line-height: 25px;
    bottom: 0;
}

/*header設定*/
header{
    top: 0;
    position: relative;
    line-height: 90px;
    background-color: rgb(255,255,255,40%);
}
.headerTitle{
    color: #4d5358;
    margin-left: 10px;
}

/*圖片設定*/
.pic{
    float:left;
    background-color: rgb(255, 255, 255);
    width:280px;
    height:280px;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    border: 0;
    border-radius: 15px;
}
.img2020{
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 0;
    overflow: hidden;
}


/*聯絡表單*/
.contact{
    color: rgb(31, 97, 220);
    text-decoration: none;
}


div{
    margin-left: 10px;
}
p{
    color: #495057;
    line-height: 25px;
}
li{
    color: #495057;
    line-height: 30px;
}

.welcome{
    color: #495057;
    background-color: rgb(0,0,0,20%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    line-height: 50px;
    font-size: 20px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
