html{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('BackgroundImage.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: justify;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.wapper{
    min-height: 100%;
    margin-bottom: -50px;
}

/*主體設定*/
.mainBody{
    background-color: rgb(0,0,0,0.4);
    height: 500px;
    width: 750px;
    margin: auto;
    padding-top: 20px;
}
.mainDiv{
    text-align: center;
    float:left;
    width:300px;
    min-height: calc(100% - 50px);
    flex-grow: 1;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: #c9d1d9;
}
.divBox{
    margin: 10px;
    min-width: 200px;
    font-size: 30px;
    border-radius: 15px;
    color: #fffffe;
    padding: 30px;
    background-color: rgb(0,0,0,0.4);
    line-height: 40px;
    align-items: center;
    justify-content: center;
}
.divBox:hover{
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.07);
    color: #495057;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    line-height: 40px;
    align-items: center;
    justify-content: center;
    transform: scale(1.1) translateX(-15px) translateY(-10px);
    transition: 0.5s;
    box-shadow: 20px 15px 10px #495057;
}


/*footer設定*/
.footerStyle{
    color: #495057;
    text-align: center;
    position: absolute;
    padding: 20px;
    width: 100%;
    background-color: rgb(255,255,255,0.662);
    bottom: -150px;
}
.footerDiv{
    line-height: 25px;
    bottom: 0;
}

/*header設定*/
header{
    top: 0;
    position: relative;
    line-height: 90px;
    background-color: rgba(255, 255, 255);
    box-shadow: 20px 15px 10px #495057;
}
.headerTitle{
    color: #4d5358;
    margin-left: 30px;
}

/*圖片設定*/
.pic{
    float: left;
    background-color: rgb(255, 255, 255);
    width:280px;
    height:280px;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    border: 0;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 30px;
    box-shadow: 20px 15px 10px #495057;
}
.img2020{
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 0;
    overflow: hidden;
}


/*聯絡表單*/
.contact{
    color: rgb(31, 97, 220);
    text-decoration: none;
}


p{
    color: #495057;
    line-height: 25px;
}
li{
    color: #495057;
    line-height: 30px;
}
.name{
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 30px;
    color: #c9d1d9;
}
.experienceP{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border-radius: 50px;
    min-width: 350px;
    text-align: left;
    line-height: 20px;
    padding-left: 20px;
}
.experienceP:hover{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #495057;
    border-radius: 50px;
    min-width: 350px;
    text-align: center;
    line-height: 20px;
    transition: 0.5s;
    font-weight: bold;
}